<div class="content-box">

    <div id="questions_description">
        {{"QUESTIONS_DESCRIPTION"|translate}}
        <p/>
    </div>
    
    <progressbar max="100" value="progress"><b>{{progress}}%</b></progressbar>

    <div ng-if='question == "level"' id="question_level" class="question text_block animate-container">
        <h2>{{"QUESTION_THREE"|translate}}</h2>
        <input type="range" id="input_range" ng-model="difficulty" max="3" min="1" />
        <p id="range_output" translate='SLIDER_VALUE_{{ difficulty }}'></p> 
        <br />
        <br />
        <br />
        <br />
        <a ng-click="submitQuestions(difficulty)" class="button">{{"START_DESCRIPTION"|translate}}</a>
        <br />
        <br />
        <br />
    </div>
    <div ng-if='question == "keys"' id="question_keys" class="question text_block animate-container">
        <h2>{{"QUESTION_KEYS"|translate}}</h2>
        <div ng-click="selectKeys('false');"><img alt="{{'KEYS_FALSE'|translate}}" src="image/nokeypair.png" />{{"KEYS_FALSE"|translate}}</div>
        <div ng-click="selectKeys('true');"><img alt="{{'KEYS_TRUE'|translate}}" src="image/keypair.png" />{{"KEYS_TRUE"|translate}}</div>
    </div>
    <div ng-if='question == "client"' id="question_client" class="question text_block animate-container">
        <h2>{{"QUESTION_ONE"|translate}}</h2>
        <div ng-click="selectClient('enterprise');"><img alt="{{'ENTERPRISE'|translate}}" src="image/top-hat.svg" />{{"ENTERPRISE"|translate}}</div>
        <div ng-click="selectClient('browser');"><img alt="{{'GLASSES'|translate}}" src="image/glasses.svg" />{{"GLASSES"|translate}}</div>
        <div ng-click="selectClient('normal');"><img alt="{{'NORMAL'|translate}}" src="image/baseball-cap.svg" />{{"NORMAL"|translate}}</div>
    </div>
    <div ng-if='question == "os"' id="question_os" class="question text_block animate-container">
        <h2>{{"QUESTION_TWO"|translate}}</h2>
        <div ng-click="selectOS('windows');"><img alt="{{'WINDOWS'|translate}}" src="image/windows.svg" />{{"WINDOWS"|translate}}</div>
        <div ng-click="selectOS('osx');"><img alt="{{'MACOS'|translate}}" src="image/apple.svg" />{{"MACOS"|translate}}</div>
        <div ng-click="selectOS('linux');"><img alt="{{'LINUX'|translate}}" src="image/tux.svg" />{{"LINUX"|translate}}</div>
    </div>

</div>
